<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verifying Account</title>
    <style>
        h2,h3 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>{{notice}}</h2><br>
    <h3><a href="/user/signin">Click to go to Singin page</a> </h3>
</body>
</html>
